body {
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 75%, rgba(87, 199, 133, 1) 88%, rgba(237, 221, 83, 1) 100%);}

#grid-container {
    height: 98vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    border: solid 1px black;
    transition: all 0.4s;

}

img:hover {
    transition: all 0.4s;
    scale: 1.1;
}