html {
    background-image: url(fotos/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
}

#layout {
    position: fixed;
    height: 132.5px;
    left: 0;
    bottom: 0;
}

nav {
    position: fixed;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.link {
    width: 70px;
}

a, label {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

a {
    text-align: center;
    left: 10px;
}

#menu {
    display: none;
    width: 500px;
    position: fixed;
    left: 0;
    bottom: 38px;
}

#open-menu {
    opacity: 0;
    position: fixed;
    height: 42px;
    width: 150px;
    left: 0;
    bottom: 0px;
}