body {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 18%, rgba(36, 36, 36, 1) 65%, rgb(132, 126, 15) 100%);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 98vh;
    width: 99%;
}

.container {
    margin-top: 40px;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.plan {
    display: grid;
    grid-template-rows: 15% 65% 20%;

    height: 700px;
    width: 400px;
    border-radius: 50px;
    text-align: center;

    background: rgba(122, 122, 122, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);

    transition: all 0.5s;
}

.plan:hover {
    scale: 1.05;

    transition: all 0.2s;

    background: rgba(122, 122, 122, 0.772);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(122, 122, 122, 0.704);
}

.top, .mid, .bottom {
    margin: 10px;
    border-radius: 40px;

    background: rgba(122, 122, 122, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);
/*

    */
}

.top {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid {
    text-align: left;
    padding-top: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 20px;
    width: 90%;
    margin-bottom: 10px;
}

h2 {
    font-weight: 100;
}

button {
    transition: all 0.2s;


    width: 90%;
    height: 70%;
    border-radius: 24px;
    border: none;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;

    background: rgba(122, 122, 122, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);

    color: white;
}

button:hover {
    transition: all 0.2s;

    background: rgba(244, 255, 37, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);

    border:solid rgba(242, 255, 0, 0.4);
}

button:active {
    background: rgba(244, 255, 37, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);

    border:solid rgba(242, 255, 0, 0.4);

    scale: 0.9;
    width: 96.5%;
}

.back {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-140px);
    height: 80vh;
}

.title {
    font-size: 200px;
    margin-bottom: -140PX;
}