body {
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 18%, rgba(36, 36, 36, 1) 65%, rgb(132, 126, 15) 100%);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 98vh;
    width: 99%;
}

#back {
    position: absolute;
    font-size: 200px;
    left: 50%;
    transform: translateX(-50%) translateY(-120px);
}

.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.plan {
    position: relative;
    transform: translateY(40px);
    height: 700px;
    width: 400px;
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    box-sizing: border-box;

    /* From https://css.glass */
    background: rgba(122, 122, 122, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(122, 122, 122, 0.5);
    transition: all 0.5s;

}

.plan:hover {
    scale: 1.05;
    transition: all 0.2s;
}

h1 {
    margin-left: 20px;
}

h2 {

    font-weight: 100;
    position: absolute;
    transform: translate(300px, -72px);
}

hr {
    width: 90%;
    display: block;
    margin: 0 auto;
    opacity: 40%;
}

ul {
    font-size: 20px;
}

li {
    margin-top: 40px;
}

.abajo {
    position: relative;
    transform: translateY(20px);
}


button {
    position: absolute;
    transform: translateY(140px);
    width: 90%;
    margin: 0 auto;
    height: 55px;
    background-color: rgb(255, 230, 0);
    border-radius: 100px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 800;
    transition: all 0.5s;

}

button:hover {
    transition: all 0.2s;
    border-bottom: orange solid 8px;
}

button:active {
    border-bottom: 0;
    height: 47px;
    transform: translateY(148px);
    transition: all 0.5ms;
}
